.game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.option {
  padding: 10px;
  display: flex;
  margin: 10px;
  cursor: pointer;
}

.selected {
  padding: 10px;
  display: flex;
  margin: 10px;
  cursor: pointer;
  border-color: blue;
}

.isCorrect {
  padding: 10px;
  display: flex;
  margin: 10px;
  cursor: pointer;
  border-color: green;
}

.isInCorrect {
  padding: 10px;
  display: flex;
  margin: 10px;
  cursor: pointer;
  border-color: red;
}
