.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > ul {
  margin-bottom: 50px;
}
.container > ul > li {
  margin: 5px;
  border-bottom: 0.5px solid grey;
  padding: 10px;
}

ul {
  list-style: none;
}
li::first-letter {
  text-transform: uppercase;
}

.pagination {
  display: flex;
  list-style: none;
}

.pageNumbers {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
